<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= link_to 'Edit Article', edit_article_path(@article) %>

<%= link_to "Destroy", article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure?" }
%>
<br>

<h1>Comments:</h1>
<%= render @article.comments %>

<h1>Add a Comment: </h1>
<%= render 'comments/form' %>
<p><a href="<%= root_path %>">Back</a></p>


